<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wintersport 2025</title>
</head>
<body>
    <h1>Kirchberg 2025!</h1>
    <p>Wij hebben een pagina gemaakt met iets waar we gemeen hebben, en dat is dat we gezellig met Young Colfield op wintersport gaan naar Kirchberg!</p>
    <p >Ben jij een skieër of een snowboarder?</p>
    <img src="{{ url_for('static', filename='images/wintesport.jpg') }}" alt="Sneeuw">  
</body>
</html>